html {
    scroll-behavior: smooth;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .body1,
  html {
    margin: 0;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
    /* background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E"); */
  }
  
  .body1 {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    
  }
  .body1::after {
    content: "  ";
    background-image: url("../../assets/bg2.jpeg");
    filter: blur(8px);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* opacity: 0.9; */
    /* filter: blur(1px); */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
  
  .sponsors-sponContainer {
    /* margin-top: 100px; */
    width: 100%;
    height: 100%;
    /* background-color: rgb(28, 25, 27); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sponsors-innerContainer1,
  .sponsors-innerContainer2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sponsors-innerContainer1 h1 {
    font-size: 5rem;
    /* color: #ffffff; */
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .sponsors-innerContainer2 h1 {
    text-align: center;
    /* color: #ffffff; */
    margin-bottom: 2rem;
  }
  .sponsors-titleSpon {
    font-size: 2rem;
    /* color: #ffffff; */
    margin-bottom: 2rem;
  }
  .sponsors-sponCard {
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .sponsors-imgContain {
    width: 260px;
    height: 260px;
    /* margin: 1rem; */
  }
  .sponsors-imgContain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sponsors-sponInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
  .sponsors-sponInfo h4 {
    margin: 9px;
    font-weight: bold;
  }
  .sponsors-restSpon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 4rem;
    padding: 50px;
  }
  
  .sponsors-restSpon .sponsors-sponCard .sponsors-imgContain {
    width: 200px;
    height: 200px;
    /* margin: 1rem; */
  }
  
  .sponsors-marketHead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .sponsors-marketHead .sponsors-names {
    /* font-size: 2rem; */
    /* margin-bottom: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .sponsors-Head {
    align-items: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
  }
  .sponsors-Head h3 {
    margin: 2px;
  }
  .sponsors-Head a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
  }
  
  @media screen and (max-width: 768px) {
    .sponsors-innerContainer1 h1 {
      font-size: 2rem;
    }
    .sponsors-names {
      flex-direction: column;
    }
  }
  