* {
  box-sizing: border-box;
}
:root {
  --offset: 30px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}
.faq-imgsec {
  width: 100%;
  height: 300px;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
  filter: blur(0.5px);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.faq-faqsec {
  width: 80%;
  display: flex;
  margin: auto;
  padding: 20px;
}
.faq-question .faq-icon {
  cursor: pointer;
}
.faq-questions {
  width: 70%;
  float: right;
}
.faq-queSec {
  padding-bottom: 30px;
}
.faq-que {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-que p {
  font-size: 20px;
}
.faq-question {
  /* border: 1px solid white; */
  border-radius: 30px 0px 30px 0px;
  margin-bottom: 25px;
  /* padding-left: 40px; */
  padding: 10px 30px 10px 40px;
  vertical-align: middle;
  background-color: rgb(16, 16, 16);
}

.fa-angle-up {
  transform: rotate(180deg);
}

.faq-answer {
  display: none;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.faq-question span {
  padding: 20px;
  position: relative;
}
.faq-topics {
  width: 30%;
  float: left;
  position: sticky;
  top: 0px;
  height: 100%;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .faq-faqsec {
    width: 100%;
    display: flex;

    flex-direction: column;
    margin: auto;
    padding: 20px;
  }
  .faq-questions {
    width: 100%;
  }
  .faq-topics {
    width: 100%;
    position: relative;
  }
  .faq-FAQ {
    position: absolute;
    font-size: 45px;
  }
  .faq-que p {
    font-size: 17px;
  }
  
  .faq-categories {
    font-size: 20px;
  }
  .faq-topicItem {
    font-size: 16px;
  }

}
.faq-categories {
  font-size: 23px;
  font-weight: 200px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.faq-topicsList {
  list-style: none;
  padding: 20px 60px 10px 20px;
  padding-top: 0px;
}
.faq-topicItem {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  padding: 28px 0px;
  border-bottom: 0.25px solid rgb(99, 94, 94);
  cursor: pointer;
}
.faq-specialItem {
  padding-top: 15px;
}
.faq-FAQ {
  position: absolute;
  font-size: 50px;
  left: 10%;
  padding: 30px;
  top: 50px;
}

.faq-topicItem a {
  text-decoration: none;
  color: rgb(191, 187, 187);
}

.faq-visible {
  background-color: rgb(100, 232, 12);
}

/* //animate */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
