@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

:root {
  --black: #242d49;
  --gray: #788097;
  --black-1: #1d1c1c;
  --glass: rgba(56, 54, 54, 0.179);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #05050554;
}

.Dash{
  /* padding: 0.5rem 3.5rem; */

  background: linear-gradient(
    106.37deg,
    #181717 29.63%,
    #1f1f1f 51.55%,
    #060606 90.85%
  );
  background: url('./imgs/bg1.png');

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
}


.DashGlass {
  display: grid;
  height: 100%;
  width: 100%;
/* background: var(--glass); */
  
  backdrop-filter: blur(10px);

  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 10rem auto ;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {

  .DashGlass{
    grid-template-columns: 10% 50%;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .DashGlass{
    grid-template-columns: 1fr;
  } 
}