*,
*::after,
*::before {
  margin: 0;
  padding: 0;

}


@font-face {
    font-family: "Ultra";  
    src: local("Ultra"),
    url("../../fonts/Ultra.otf") format("opentype");
  }

  @font-face {
    font-family: "Ultra1";  
    src: local("Ultra1"),
    url("../../fonts/SpaceCrusaders-x3DP0.ttf") format("truetype");
  }
  @font-face {
    font-family: "Ultra2";  
    src: local("Ultra2"),
    url("../../fonts/SpaceCrusadersItalic-ZV1Zx.ttf") format("truetype");
  }

  @font-face {
    font-family: "Ultra4";  
    src: local("Ultra4"),
    url("../../fonts/Quantum.otf") format("opentype");
  }
  @font-face {
    font-family: "Ultra5";  
    src: local("Ultra5"),
    url("../../fonts/space\ age.ttf") format("truetype");
  }

  @font-face {
    font-family: "MyFont";  
    src: local("MyFont"),
    url("../../fonts/Aquire-BW0ox.otf") format("opentype");
  }

  @font-face {
    font-family: "Ultra7";  
    src: local("Ultra7"),
    url("../../fonts/AquireBold-8Ma60.otf") format("opentype");
  }


.app{
    background-image: url('../../assets/img4.jpeg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color:white;
    font-family:MyFont;
    /* background-repeat:no-repeat ; */

}

.heading{
    font-family:Ultra5;
}

@media (max-width: 480px) {
    .heading{
        font-size: 11vw;
    }
    .app{
      overflow-y: scroll;
    }

    .scheduleTable{
      width: 94vw;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    .filterData{
      width: 94vw;
    }

    .tableHead{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
  .heading{
    font-size: 8vw;
}
.app{
  overflow-y: scroll;
}
.time{
  width: 21.2vw;
}
.name{
  width: 28vw;
}
.scheduleTable{
  width: 70vw;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.filterData{
  width: 70vw;
  margin-top: 0.75rem;
}

.tableHead{
  padding-left: 5vw;
  padding-right: 5vw;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading{
    font-size: 8vw;
}
.app{
  overflow-y: scroll;
}
.time{
  width: 21vw;
}
.name{
  width: 28vw;
}
.scheduleTable{
  width: 70vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.filterData{
  width: 70vw;
  margin-top: 0.75rem;
}

.tableHead{
  padding-left: 6.5vw;
  padding-right: 6.5vw;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .heading{
    font-size: 8vw;
}
.app{
  overflow-y: scroll;
}
.time{
  width: 21vw;
}
.name{
  width: 28.3vw;
}
.scheduleTable{
  width: 70vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.filterData{
  width: 70vw;
  margin-top: 0.75rem;
}

.tableHead{
  padding-left: 6.5vw;
  padding-right: 6.5vw;
}
}

@media (min-width: 1281px) {
  .heading{
    font-size: 7vw;
  }
  /* .app{
    overflow-y: scroll;
  } */
  .time{
    width: 20vw;
  }
  .name{
    width: 27vw;
  }
  .scheduleTable{
    width: 65vw;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .filterData{
    width: 65vw;
    /* margin-top: 0.75rem; */
  }

  .tableHead{
    padding-left: 6.5vw;
    padding-right: 6.5vw;
  }
  .innerBox{
    position: relative;
    margin-top: -4vh;
  }
}