.HeroSection {
  //   display: flex;
  justify-content: center;
  height: fit-content;
  //   margin-left: -5vw;
  //   height: 100vh;
  //   width: 100vw;
  align-items: center;
  //   overflow-x: hidden;
  .backvideo {
    width: 100vw;
    z-index: -1;
    position: absolute;
    left: 0;
    filter: opacity(1);
    visibility: visible;
  }
  * {
    overflow-x: hidden;
  }

  .textContr {
    width: 100vw;
    height: 70vh;
    display: flex;
    // margin-top: -100px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    // margin-left: 200px;
    margin-top: 10vh;

    .Logo {
      height: 400px;
    }
    .Button {
      width: 210px;
      margin-bottom: 50px;
      height: 112px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 35px;
      background-color: #ffffff;
      border: none;
      font-size: 20px;
      font-weight: 600;
      color: #000000;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #000000;
        color: #ffffff;
        box-shadow: 0px 0px 30px 0.1px rgba(255, 255, 255, 0.556);
      }
    }
  }
  .backvideoMobile {
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    z-index: -1;
  }
}
@media screen and (max-width: 500px) {
  .backvideo {
    display: none;
  }
  .backvideoMobile {
    display: inline-block !important;
  }
  //   ._textContr_etf6r_14 {
  //     // margin-left: 0;
  //   }
}
// @media screen and (max-width: 488px) {
//   .HeroSection {
//     .backvideoMobile {
//       display: flex;
//       filter: opacity(1);
//     }
//     .textContr {
//       margin-left: 50px;
//       height: 60vh;
//       .Logo {
//         height: 200px;
//       }
//       .Button {
//         width: 150px;
//         height: 50px;
//         font-size: 15px;
//       }
//     }
//     .backvideo {
//       display: none;
//       filter: opacity(0);
//     }
//   }
// }
